.e-footer-bg {
    background-color: #1d1b1b;
    color: white;
}
.e-red {
    color: crimson;
}
.e-bg-fff {
    background-color: #fff;
    color: #333;
}
.e-site-home-h1 {
    font-size: initial;
    font-weight: lighter;
}