@media screen and (min-width: 320px) and (max-width: 411px) {
    $size: "xxs";
    @include col-maker($size);
    @include show($size);
    @include hide($size);
    @include margin-maker($size);
    @include padding-maker($size);
    .e-small-breadcrumb {
        display: none;
        & ~ .e-small-breadcrumb-box {

        }
    }

    .e-search-box {
        margin: auto;
        & .search-icon {

        }
    }

    .e-#{$size}-show {
        display: initial;
    }

    body {
        &.e-top-header-fixed {
            padding-top: 7em;
            // .e-top-header {
                
            // }
        }
    }
}