@mixin show($size: "lg") {
    .e-#{$size}-show {
        display: block;
    }
}

@mixin hide($size: "lg") {
    .e-#{$size}-hide {
        display: none;
    }
}

@mixin visible($size: "lg") {
    .e-#{$size}-show-exist {
        visibility: visible;
    }
}

@mixin hidden($size: "lg") {
    .e-#{$size}-hide-exist {
        visibility: hidden;
    }
}

@mixin margin-maker($size: '') {
    @for $i from 1 through ceil(100/5) {
        $stepvalue: ($i - 1)*5;
        .e-mt-#{$size}-#{$stepvalue} {
            margin-top: $stepvalue/10 em;
        }        
        .e-mr-#{$size}-#{$stepvalue} {
            margin-right: $stepvalue/10 em;
        }
        .e-mb-#{$size}-#{$stepvalue} {
            margin-bottom: $stepvalue/10 em;
        }
        .e-ml-#{$size}-#{$stepvalue} {
            margin-left: $stepvalue/10 em;
        }
    }
}

@mixin padding-maker($size: '') {
    @for $i from 1 through ceil(100/5) {
        $stepvalue: ($i - 1)*5;
        .e-pt-#{$size}-#{$stepvalue} {
            margin-top: $stepvalue/10 em;
        }        
        .e-pr-#{$size}-#{$stepvalue} {
            margin-right: $stepvalue/10 em;
        }
        .e-pb-#{$size}-#{$stepvalue} {
            margin-bottom: $stepvalue/10 em;
        }
        .e-pl-#{$size}-#{$stepvalue} {
            margin-left: $stepvalue/10 em;
        }
    }
}

@mixin margin-pre-maker() {
    @for $i from 1 through ceil(100/5) {
        $stepvalue: ($i - 1)*5;
        .e-mt-#{$stepvalue} {
            margin-top: percentage($number: $stepvalue)/100;
        }
        .e-mr-#{$stepvalue} {
            margin-right: percentage($number: $stepvalue)/100;
        }
        .e-mb-#{$stepvalue} {
            margin-bottom: percentage($number: $stepvalue)/100;
        }
        .e-ml-#{$stepvalue} {
            margin-left: percentage($number: $stepvalue)/100;
        }
    }
}

@mixin height-maker() {
    @for $i from 1 through ceil(1000/50) {
        $steps: ($i - 1)* 50;
        .e-mh-#{$steps} {
            min-height: $steps + px;
        }
    }
}